*{
  margin: 0;
  padding: 0;
  color: #afc5de6f;
}

:root{
  --blue: #10172e;
  --lightblue: #1b2241;
  --pink: #f1777e;
  --white: #afc5de;
  --darkwhite: #8e8e8e;
  --babyblue: #149fe5;
  --green: #4BAEAE;
  --darkgreen: #0C5C84;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  overflow-y: hidden;
}

.App-Header {
  width: 100%;
  height: 25%;
  display: grid;
  grid-template-areas: "t s"
                        "m s";
  grid-template-columns: 95% 5%;
  grid-template-rows: 50% 50%;
  flex-direction: column;
  align-items: center;
}

.App-Header-Title {
  font-size: 2rem;
  margin-left: 5%;
  color: var(--white);
  grid-area: t;
  justify-self: center; 
}

.App-Header-Modes {
  display: flex;
  width: 25%;
  height: 50%;
  margin-left: 5%;
  padding: 0.5rem;
  margin-top: 2rem;
  justify-content: space-between;
  background-color: var(--lightblue);
  border-radius: 1.5rem;
  color: var(--darkwhite);
  font-size: 0.8rem;
  list-style: none;
  font-weight: 700;
  justify-self: center;
  grid-area: m;
}

.App-Header-Modes li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 33%;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.Mode-Active-Pink {
  background-color: var(--pink);
  color: var(--lightblue);
}

.Mode-Active-Green {
  background-color: var(--green);
  color: var(--lightblue);
}

.Mode-Active-Blue {
  background-color: var(--babyblue);
  color: var(--lightblue);
}

.Gear-Icon {
  cursor: pointer;
  width: 3rem;
}

.App-Body {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Body-Timer {
  position: relative;
  width: 25%;
  aspect-ratio: 1;
  padding: 1.5rem;
  background-image: linear-gradient(135deg, var(--blue), var(--lightblue));
  border-radius: 100%;
  box-shadow: -15px -15px 45px 2px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Body-Timer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 15px 15px 45px 2px rgb(0, 0, 0);
}

.App-Body-Timer::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: var(--lightblue);
}

.App-Body-Timer-Ring {
  position: absolute;
  height: 97%;
  width: 97%;
}

.App-Body-Timer-Ring-Circle {
  fill: none;
  stroke: none;
}

.App-Body-Timer-Ring-PathElapsed-Main {
  stroke-width: 3px;
  stroke: var(--pink);
}

.App-Body-Timer-Ring-PathElapsed-Short {
  stroke-width: 3px;
  stroke: var(--green);
}

.App-Body-Timer-Ring-PathElapsed-Long {
  stroke-width: 3px;
  stroke: var(--babyblue);
}

.App-Body-Timer-Ring-SVG {
  transform: scale(1);
}

.App-Body-Timer-Ring-Remaining{
  color: var(--blue);
  stroke-width: 2px;
  stroke-linecap: round;
  fill-rule: nonzero;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.App-Body-Timer-Display {
  font-weight: 700;
  color: var(--white);
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 5.8rem;
}

.App-Timer-Pause {
  z-index: 1;
}

.App-Timer-Pause{
  width: 20%;
}

.App-Settings {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 83, 83, 0.305);
  transition: top 0.4s ease-in-out;
}

.Settings-OffScreen{
  top:100%;
  transition: top 0.4s ease-in-out;
}

.App-Settings-Container {
  width: 15%;
  height: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 7.5%;
  background-color: var(--blue);
  box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.047);
  z-index: 2;
}

.App-Settings-Header{
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  grid-template-areas: "t c";
  align-items: center;
}

.App-Settings-Header h3 {
  grid-area: t;
  justify-self: center;
  padding-left: 5%;
  font-size: 1.5rem;
  color: var(--white);
}

.App-Settings-Header img {
  width: 65%; 
  cursor: pointer;
}

.App-Settings-Body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.App-Settings-Body-Section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App-Settings-Body-Section label{
  padding: 0 2px;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  top: 0.3rem;
  left: 30%;
  background-color: var(--blue);
  position: absolute;
}

.App-Settings-Body-Section input {
  width: 40%;
  height: 50%;
  background-color: var(--blue);
  border: 2px solid var(--pink);
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  color: var(--darkwhite);
  transition: border 0.2s ease-in-out;
}

.App-Settings-Body-Section input:hover {
  outline: none;
  border: 2px solid var(--darkgreen);
}

.App-Settings-Body-Section input:focus {
  outline: none;
  border: 2px solid var(--green);
}

.App-Settings-Button {
  width: 60%;
  align-self: center;
  color: var(--white);
  background-color: var(--green);
  transition: background-color 0.3s ease-in-out;
  border: none;

}

.App-Settings-Button:hover {
  background-color: var(--darkgreen);
}

