*{
  margin: 0;
  padding: 0;
}

:root{
  --blue: #021040;
  --lightblue: #05228b;
  --orange: #f5a201;
  --white: #c4c4c4;
  --darkwhite: #8e8e8e;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
}

.App-Header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.App-Header-Title {
  font-size: 2rem;
  color: var(--white);
}

.App-Header-Modes {
  display: flex;
  width: 25%;
  height: 25%;
  margin-top: 2rem;
  justify-content: space-between;
  background-color: var(--lightblue);
  border-radius: 1.5rem;
  color: var(--darkwhite);
  font-size: 0.8rem;
  list-style: none;
  font-weight: 600;
}

.App-Header-Modes li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 33%;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.Mode-Active {
  background-color: var(--orange);
  color: var(--lightblue);
}

.App-Body {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Body-Timer {
  position: relative;
  width: 20%;
  aspect-ratio: 1;
  padding: 1.5rem;
  background-image: linear-gradient(135deg, var(--blue), var(--lightblue));
  border-radius: 100%;
  box-shadow: -15px -15px 45px 2px rgba(255, 255, 255, 0.066);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Body-Timer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 15px 15px 45px 2px rgb(0, 0, 0);
}

.App-Body-Timer::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background-color: var(--blue);
}

.App-Body-Timer-Ring {
  position: absolute;
  height: 97%;
  width: 97%;
}

.App-Body-Timer-Ring-Circle {
  fill: none;
  stroke: none;
}

.App-Body-Timer-Ring-PathElapsed {
  stroke-width: 3px;
  stroke: var(--orange);
}

.App-Body-Timer-Ring-SVG {
  transform: scale(1);
}

.App-Body-Timer-Ring-Remaining{
  color: var(--blue);
  stroke-width: 2px;
  stroke-linecap: round;
  fill-rule: nonzero;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  stroke: currentColor;
}

.App-Body-Timer-Display {
  color: var(--white);
  z-index: 1;
  width: 100%;
  text-align: center;
  font-size: 4.5rem;
}

.App-Timer-Pause {
  z-index: 1;
}